html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Actual styling here */

:root {
    --test-border: 1px solid black;
    --dark: #243665;
    --dark-text: white;
    --light: #8BD8BD;
    --light-text: white;
    --normal-text: black;

    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    background-color: #ebeeff;
}

.header-wrapper {
    background-color: #f2f4ff;
    height: 100vh;
    padding: 0 10vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3vh;
}

.header-wrapper > * {
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.header-title {
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
}

.motivation-wrapper {
    padding: 5vh 30vw;
    display: flex;
    gap: 5vh;
}

a {
    color: #FF7F51;
}